*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header,.footer{
    padding: 1rem 0;
    background-color: rgb(208, 208, 213);
}
.main{
    margin: 1rem 0;
    flex-grow: 1;
    display: flex;
}
.one{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}
.two{
    flex-grow: 1;
    display: flex;
    
}
.first{
    background-color: red;
    flex-grow: 1;
}
.second{
    background-color: orange;
    flex-grow: 1;
}
.third{
    background-color: yellow;
    flex-grow: 1;
}
@media (max-width: 768px) {
    .one{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 425px) {
    .main{
        margin: 1rem 0;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    .one{
        flex-grow: 2;
        display: flex;
    }
}