*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header,.footer{
    padding: 0.5rem 0;
    background-color: rgb(208, 208, 213);
}
.main{
    flex-grow: 1;
    display: flex;
    margin: 1rem 0;
}
.first{
    background-color: lightgreen;
    flex-grow: 2;
    order: 2
    
}
.second{
    background-color: darkgreen;
    flex-grow: 1;
    order: 1;
}
.third{
    background-color: yellow;
    flex-grow: 1;
    order: 3
}

@media (max-width: 768px){
    .main { 
        flex-wrap: wrap;
    }

     .first {
        order: 1;
        width: 100%;
    } 
}

@media (max-width: 425px){
    .main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .first {
        background-color: lightgreen;
        flex-grow: 2;
        order: 1;  
    }

    .second {
        background-color: darkgreen;
        flex-grow: 1;
        order: 2;
        width: 100%;
    }
    .third{
        background-color: yellow;
        flex-grow: 1;
        order: 2;
        width: 100%;
    }
}
